# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (Xamarin Studio)
*.userprefs

# Build results
[Bb]in/
[Oo]bj/

# Visual Studio cache/options directory
.vs/

